@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(240, 240, 240, 1);
  color: rgba(55, 55, 55, 1);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}